@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1484803338408'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1484803338408#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1484803338408') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1484803338408') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1484803338408#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reduce:before {
    content: "\e61d";
}

.icon-shezhi:before {
    content: "\e614";
}

.icon-tianxie:before {
    content: "\e69e";
}

.icon-rili:before {
    content: "\e61e";
}

.icon-add:before {
    content: "\34c1";
}

.icon-bisai:before {
    content: "\e601";
}

.icon-qunzu:before {
    content: "\e628";
}

.icon-shengyin:before {
    content: "\e62b";
}

.icon-shouye:before {
    content: "\e62d";
}

.icon-yonghu:before {
    content: "\e633";
}

.icon-shipin:before {
    content: "\e63b";
}

.icon-bangzhu:before {
    content: "\e64a";
}

.icon-zhengquetishi:before {
    content: "\e65a";
}

.icon-duihuan:before {
    content: "\e65e";
}

.icon-erweima:before {
    content: "\e65f";
}

.icon-shangchuan:before {
    content: "\e665";
}

.icon-shuaxin:before {
    content: "\e666";
}

.icon-cuowutishi:before {
    content: "\e66c";
}

.icon-qunzutianchong:before {
    content: "\e68a";
}

.icon-shipintianchong:before {
    content: "\e690";
}

.icon-shouyetianchong:before {
    content: "\e692";
}

.icon-tixingtianchong:before {
    content: "\e695";
}

.icon-yonghutianchong:before {
    content: "\e6a2";
}

.icon-rilitianchong:before {
    content: "\e6ae";
}

.icon-shengyintianchong:before {
    content: "\e6b3";
}

.icon-pk:before {
    content: "\e660";
}

.icon-shizhong:before {
    content: "\e64b";
}

.icon-wenbenbianji:before {
    content: "\e6d5";
}

.icon-tuichu:before {
    content: "\e627";
}

.icon-bisai2:before {
    content: "\e61b";
}

.icon-chanpinmingcheng:before {
    content: "\e649";
}

.icon-bofang:before {
    content: "\e62e";
}

.icon-duoren:before {
    content: "\e62f";
}

.icon-gesai:before {
    content: "\e667";
}

.icon-arrow-top:before {
    content: "\e65d";
}

.icon-arrow-bottom:before {
    content: "\e661";
}

.icon-arrow-right:before {
    content: "\e662";
}

.icon-arrow-left:before {
    content: "\e663";
}

.icon-dianzan:before {
    content: "\e604";
}

.icon-map:before {
    content: "\e613";
}

.icon-jiangbei:before {
    content: "\e600";
}

.icon-jiangpai:before {
    content: "\e603";
}

.icon-paiming:before {
    content: "\e664";
}

.icon-dengji:before {
    content: "\e602";
}

.icon-shuiping:before {
    content: "\e63d";
}

.icon-guanli:before {
    content: "\e611";
}

.icon-xiugai:before {
    content: "\e653";
}

.icon-qiehuan:before {
    content: "\e6c3";
}

.icon-dibiao:before {
    content: "\e719";
}

.icon-xinxi:before {
    content: "\e724";
}

.icon-dongtai:before {
    content: "\e629";
}

.icon-gantanhao:before {
    content: "\e61c";
}

